[Fleet]
Slot0 = andgu
Slot1 = chebr
Slot2 = chmav
Slot3 = druma
Slot4 = earcr
Slot5 = kohma
Slot6 = meltr
Slot7 = mycpo
Slot8 = orzne
Slot9 = pkufu
Slot10 = spael
Slot11 = supbl
Slot12 = kzedr
Slot13 = yehte
Size = 14
Title = 300 point Armada!
