[Fleet]
Slot0 = andgu
Slot1 = arisk
Slot2 = chebr
Slot3 = earcr
Slot4 = ilwav
Slot5 = mmrxf
Size = 83
Title = Fleet with one of each
Slot6 = mycpo
Slot7 = shosc
Slot8 = spael
Slot9 = syrpe
Slot10 = umgdr
Slot11 = kzedr
Slot12 = vuxin
Slot13 = yehte
Slot14 = chmav
Slot15 = druma
Slot16 = meltr
Slot17 = orzne
Slot18 = pkufu
Slot19 = slypr
Slot20 = supbl
Slot21 = thrto
Slot22 = kohma
Slot23 = utwju
Slot24 = zfpst
Slot25 = clapi
Slot26 = dakvi
Slot27 = dooco
Slot28 = exqen
Slot29 = harra
Slot30 = herex
Slot31 = ktacr
Slot32 = lk_sa
Slot33 = owavo
Slot34 = plopl
Slot35 = vyrin
Slot36 = xchex
Slot37 = choex
Slot38 = alckr
Slot39 = bipka
Slot40 = bubbo
Slot41 = bubex
Slot42 = conca
Slot43 = conho
Slot44 = dragr
Slot45 = earc2
Slot46 = estgu
Slot47 = garty
Slot48 = plane
Slot49 = glads
Slot50 = ilwsp
Slot51 = impka
Slot52 = jnkla
Slot53 = jygst
Slot54 = kahbo
Slot55 = katas
Slot56 = katpo
Slot57 = ktesa
Slot58 = montr
Slot59 = narlu
Slot60 = ostdi
Slot61 = qlore
Slot62 = quawr
Slot63 = raame
Slot64 = rekas
Slot65 = slyp2
Slot66 = xxxas
Slot67 = xxxma
Slot68 = staba
Slot69 = strsc
Slot70 = tauhu
Slot71 = taule
Slot72 = tausl
Slot73 = taust
Slot74 = tautu
Slot75 = trige
Slot76 = tulra
Slot77 = virli
Slot78 = wassu
Slot79 = xagre
Slot80 = yevme
Slot81 = yusra
Slot82 = zeksh
