[Fleet]
Slot0 = arisk
Slot1 = chebr
Slot2 = earcr
Slot3 = kohma
Slot4 = mycpo
Slot5 = yehte
Slot6 = pkufu
Slot7 = supbl
Slot8 = thrto
Slot9 = zfpst
Slot10 = shosc
Size = 11
Title = Balanced Battle - Team #2
