[Fleet]
Slot0 = chebr
Slot1 = chebr
Slot2 = chmav
Slot3 = chmav
Slot4 = kohma
Slot5 = kohma
Slot6 = kzedr
Slot7 = kzedr
Slot8 = utwju
Slot9 = utwju
Size = 10
Title = Zenith of the Behemoths
