[Fleet]
Slot0 = andgu
Slot1 = arisk
Slot2 = chebr
Slot3 = earcr
Slot4 = ilwav
Slot5 = kzedr
Slot6 = mmrxf
Slot7 = mycpo
Slot8 = spael
Slot9 = syrpe
Slot10 = umgdr
Slot11 = yehte
Slot12 = druma
Slot13 = kohma
Slot14 = meltr
Slot15 = orzne
Slot16 = pkufu
Slot17 = slypr
Slot18 = supbl
Slot19 = thrto
Slot20 = zfpst
Slot21 = ktacr
Slot22 = lk_sa
Slot23 = owavo
Slot24 = plopl
Slot25 = bubbo
Slot26 = conho
Slot27 = dragr
Slot28 = estgu
Slot29 = kahbo
Slot30 = ktesa
Slot31 = narlu
Slot32 = ostdi
Slot33 = taufi
Slot34 = tauhj
Slot35 = virli
Size = 37
Title = Empty Fleet
Slot36 = wassu
