[Fleet]
Slot0 = arisk
Slot1 = chmav
Slot2 = druma
Slot3 = earcr
Slot4 = orzne
Slot5 = pkufu
Slot6 = shosc
Slot7 = spael
Slot8 = supbl
Slot9 = syrpe
Slot10 = thrto
Slot11 = utwju
Slot12 = yehte
Slot13 = zfpst
Size = 14
Title = New Alliance Ships
