[Fleet]
Slot0 = andgu
Slot1 = arisk
Slot2 = chebr
Slot3 = chmav
Slot4 = druma
Slot5 = earcr
Slot6 = ilwav
Slot7 = kohma
Slot8 = kzedr
Slot9 = meltr
Slot10 = mmrxf
Slot11 = mycpo
Slot12 = orzne
Slot13 = pkufu
Slot14 = shosc
Slot15 = slypr
Slot16 = spael
Slot17 = supbl
Slot18 = syrpe
Slot19 = thrto
Slot20 = umgdr
Slot21 = utwju
Slot22 = vuxin
Slot23 = yehte
Slot24 = zfpst
Slot25 = clapi
Slot26 = dakvi
Slot27 = dooco
Slot28 = estgu
Slot29 = exqen
Slot30 = harra
Slot31 = herex
Slot32 = kahbo
Size = 45
Title = Star Control Armada+
Slot33 = ktacr
Slot34 = ktesa
Slot35 = lk_sa
Slot36 = narlu
Slot37 = owavo
Slot38 = phygr
Slot39 = plopl
Slot40 = terds
Slot41 = virli
Slot42 = vyrin
Slot43 = xchex
Slot44 = zeksh
