[Fleet]
Slot0 = andgu
Slot1 = arisk
Slot2 = chebr
Slot3 = chmav
Slot4 = druma
Slot5 = earcr
Slot6 = ilwav
Slot7 = kohma
Slot8 = kzedr
Slot9 = meltr
Slot10 = migmi
Slot11 = mmrxf
Slot12 = mycpo
Slot13 = orzne
Slot14 = pkufu
Slot15 = shosc
Slot16 = slypr
Slot17 = spael
Slot18 = supbl
Slot19 = syrpe
Slot20 = thrto
Slot21 = umgdr
Slot22 = utwju
Slot23 = vuxin
Slot24 = yehte
Size = 26
Title = Star Control Armada
Slot25 = zfpst
