[Fleet]
Slot0 = clapi
Slot1 = dakvi
Slot2 = dooco
Slot3 = exqen
Slot4 = harra
Slot5 = herex
Slot6 = ktacr
Slot7 = lk_sa
Slot8 = owavo
Slot9 = plopl
Slot10 = vyrin
Slot11 = xchex
Size = 12
Title = Star Control 3 Ships Only
