[Fleet]
Slot0 = chmav
Slot1 = druma
Slot2 = kohma
Slot3 = meltr
Slot4 = orzne
Slot5 = pkufu
Slot6 = slypr
Slot7 = supbl
Slot8 = thrto
Slot9 = utwju
Slot10 = zfpst
Size = 11
Title = Star Control 2 only
