[Fleet]
Slot0 = andgu
Slot1 = arisk
Slot2 = chebr
Slot3 = earcr
Slot4 = ilwav
Slot5 = kzedr
Slot6 = mmrxf
Slot7 = mycpo
Slot8 = shosc
Slot9 = spael
Slot10 = syrpe
Slot11 = umgdr
Slot12 = vuxin
Slot13 = yehte
Size = 14
Title = Star Control 1
