[Fleet]
Slot0 = andgu
Slot1 = andgu
Slot2 = andgu
Slot3 = andgu
Slot4 = andgu
Slot5 = andgu
Slot6 = andgu
Slot7 = andgu
Slot8 = andgu
Slot9 = andgu
Slot10 = andgu
Slot11 = andgu
Slot12 = andgu
Slot13 = andgu
Slot14 = andgu
Slot15 = andgu
Slot16 = andgu
Slot17 = andgu
Slot18 = andgu
Slot19 = andgu
Slot20 = andgu
Slot21 = andgu
Slot22 = andgu
Slot23 = andgu
Slot24 = andgu
Slot25 = andgu
Slot26 = andgu
Slot27 = andgu
Slot28 = andgu
Slot29 = andgu
Slot30 = andgu
Slot31 = andgu
Slot32 = andgu
Slot33 = andgu
Slot34 = andgu
Slot35 = andgu
Slot36 = andgu
Slot37 = andgu
Slot38 = andgu
Slot39 = andgu
Slot40 = andgu
Slot41 = andgu
Slot42 = andgu
Slot43 = andgu
Slot44 = andgu
Slot45 = andgu
Size = 46
Title = Star Control Armada+
